.header-link {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100px;
  background-size: cover;
  background-position: center center;
}

.post-it {
  max-width: 400px;
}

.p-card {
  &.p-card-body {
    background-color: yellow;
  }
}
